<% form_for @project do |f| %>
    <li><%= f.text_field :name, :placeholder => "Project Name" %></li>
    <li><%= f.text_field :description, :placeholder => "Project description" %></li>
  <%= link_to "Submit", nil, :class => "whiteButton submit" %>
<% end %>
