<h1>Home1</h1>
<input style="margin-bottom:25px;" type="text" class="input-block-level bg-success" placeholder="Enter PNR ">
<p>
  <button style="margin-top:10px;" type="button" class="btn btn-info">Get-status</button>
  <button style="margin-top:10px;" type="button" class="btn btn-success">Get-SMS</button>
</p>

