<h1>Home</h1>
<input style="margin-bottom:25px;" type="text" class="input-block-level bg-success" placeholder="Enter PNR ">
<p>
  <button style="margin-top:10px;" type="button" class="btn btn-info">Default button</button>
  <button style="margin-top:10px;" type="button" class="btn btn-success">Default button</button>
</p>

