.navbar {
  background: transparent image-url('menu_paper.png') top left repeat-x;
  height: 90px;
}

.navbar .nav > li > a {
  font-size: 22px;
  text-shadow: none;
  color: #FFF;
  font-family: "vincentregular";
}
@font-face {
    font-family: 'vincentregular';
    src: url('vincent-regular-webfont.eot');
    src: url('vincent-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('vincent-regular-webfont.woff') format('woff'),
         url('vincent-regular-webfont.ttf') format('truetype'),
         url('vincent-regular-webfont.svg#vincentregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.navbar-default .navbar-nav > li > a {
  
  #color: #FFF !important; 
    
}

#pnr-home{
  height: 45px;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 40px; 
  font-size: large;
}


